#videocontainer{
    position: relative;
     background-image: url(C:\Users\abdul\Desktop\myportfolio\profile\portfolio\src\images\laptop.png);
     background-size: contain;
     background-repeat: no-repeat;
     width: 500px;
     height: 400px;
     
}
video{
    position: absolute;
    top: 10%;
    left: 18%;
    width: 66%;
    height: 56%;
    border-radius: 5%;
}

.content {
  max-width: 700px;
  margin-right: 100px;
}

